body {
  margin: 0;
  padding: 0;
  background-image: url("MiiaImages/flower.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media (min-width: 390px) and (max-width: 844px) {
  .option-img {
    /* max-width: 1rem;
    max-height: 1rem; */
    /* margin-bottom: 1rem; */
    /* border-radius: 10px; */
  }
  .option-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body {
    background-image: none;
  }
}
.option-img {
  max-width: 16rem;
  max-height: 16rem;
  background-color: #fefee3;
  margin: 1rem;
}
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    padding-bottom: 290px;

}
.choose-text {
  text-align: center;
  color: #fefee3;
  padding-bottom: 1rem;
  font-size: 3rem;
}
.option-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container {
  background-color: #fefee3;
  width: 20rem; 
  height: 20rem; 
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  perspective: 1000px; 
  position: relative;
  overflow: hidden; 
}
.img-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}
.img-container:hover .img-inner {
  transform: rotateY(180deg);
}
.img-front, .img-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}
.img-front {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-back {
  transform: rotateY(180deg); 
  background-color: #fefee3;
}
.option-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
}
.img-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefee3;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.back-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size:1.4rem;
}
.thinking-monkey{
   width: 200px; 
  height: auto; 
  margin-top: 20px; 
  padding: 20px;
}
