@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



@font-face {
    font-family: 'Neue';
    src: url('../Fonts/Neue Haas Grotesk/Display/NeueHaasGroteskDisplay-Medium.otf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

@media (min-width: 390px) and (max-width: 844px) {

    #root {
        width: 100%;
        height: 100%;
      }

    #footer {
        display: none;
      }

     /* .container-navbar {
        display: none;
      }  */

    body {
        width: 100%;
        height: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        background-color: white;
    
    }
    .text-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 80px 20px 0px 50px;
    }

    .title {
        font-size: 42px;
        align-items: flex-end;
        font-weight: bold;
        color: #58CC02;
        line-height: 40px;
        font-family: 'Neue';
        
    }

    .tagline {
        font-size: 23px;
        font-weight: lighter;
        text-align: left;
        color: #58CC02;
                                                  
    }

    .img-homepage {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 380px;
        height: 380px;
        background-image: url(../imgs/mascot/monkeymascot.png);
        background-size: 110%;
        background-position: left;

        background-repeat: no-repeat;
    }


    .button-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        

    }

button {
        border: none;
        width: 300px;
        height: 50px;
        border-radius: 50px;
        font-family: "Robot";
        font-size: 20px;
        color: black;
        background-color: #F1F0A0; 
        border: 1px solid black;
    
    }
    .button-container button:last-child {
        margin-top: 15px; 
    }

    .signIn-btn {
        padding: 20px;
        font-size: 20px;
        font-weight: lighter;
        color:blue;

    }
}




