@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  /* background-color: #a4be74; */
  background-color: #a4be74;
}

.container-navbar {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.navbar-wrapper {
  display: flex;
  border-radius: 20px;
  width: 80vw;
  height: 10vh;
  background-color: #fefee3;
  border: 1px solid black;
  align-items: center;
  justify-content: space-evenly;
}

.mute-mate-text {
  font-family: "Fredoka";
  font-weight: bolder;
  /* margin-top: 20px; */
  /* font-size: 7vw; */

  /* font-size: calc(1.5vw + 1.5vh + 1.5vmin); */

  font-size: 3vw;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #a4be74;
  border-radius: 21px;
  position: absolute;
  top: 15vh;
  /* right: 2rem; */
  padding: 1rem;
  z-index: 10;
  width: 88vw;
}

.banana-pic {
  height: 6vw;
}

.dropdown-link {
  font-size: 22px;
  margin: 0.5rem 0;
  text-decoration: none;
  color: black;
  font-family: "Fredoka";
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #fefee3;
  transition: background-color 0.3s ease, color 0.3s ease; /* smooth transition for hover effects */
}

.dropdown-link:hover {
  color: #555;
  background-color: #f1f0a0; /* Ändrar bakgrunds färgen on hover*/
}

.navbar-logo {
  height: 80px;
}

.title-pic-wrapper {
  display: flex;
  align-items: center;
}

.navbar-link-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}


.navbar-text {
  font-family: "Roboto";
  /* font-size: 30px; */
    font-size: 2vw; 

  text-decoration: none;
}

.navbar-text:active {
  text-decoration: underline;
  text-decoration-color: black; 
}



.navbar-text:visited {
  color: inherit; 
}

.navbar-banan{
  width: 17%;
  margin-left: 8px;
}

.navbar-text:hover {
  text-decoration: underline;
}

.navbar-vine{
  height: 100px;
  margin-top: 30px;
}

@media (min-width: 391px) and (max-width: 2000px) {
  .hamburger-react {
    display: none;
  }

  

}


@media (max-width: 391px) {
  .navbar-vine{
  height: 100px;
  margin-top: 30px;
  display: none;
}

.navbar-link-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  display: none;
}


.mute-mate-text {
  font-family: "Fredoka";
  font-weight: bolder;
  /* margin-top: 20px; */
  /* font-size: 7vw; */

  /* font-size: calc(1.5vw + 1.5vh + 1.5vmin); */

  font-size: 25px;
  margin-right: 24px;
}

.navbar-logo {
  height: 65px;
}

}


/* Media Query  (481px — 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-vine{
  height: 100px;
  margin-top: 30px;
  display: none;
}

.navbar-link-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}


.mute-mate-text {
  font-family: "Fredoka";
  font-weight: bolder;
  /* margin-top: 20px; */
  /* font-size: 7vw; */

  /* font-size: calc(1.5vw + 1.5vh + 1.5vmin); */

  font-size: 25px;
  margin-right: 24px;
}

.navbar-logo {
  height: 65px;
}

.navbar-banan{
  width: 10%;
  margin-left: 8px;
}
}

  




 
  





