@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@media (min-width: 390px) and (max-width: 844px) {

  .register-form-left{
    margin-left: 10px;
  }
.register-container{
  display: flex;
  justify-content: center;
}

  /* input[type="email"],
  input[type="password"] {
    width: 25vw;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 10px;
  }

  input[type="checkbox"] {
    margin-bottom: 20px;
  } */


    .form-container{
        display:flex;
    }
  .containerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    /* min-height: 100vh; */
    background-color: #fefee3;
    width: 80vw;
    border-radius: 20px;
    border: 1px solid black;
  }

  .logoName {
    font-size: 30px;
    color: #fefee3;
    text-align: center;
    font-family: "Neue";
  }

  /* .img-container{

        height: 150px;
        width: 150px;   
        background-image: url(../imgs/mascot/pixelmonkey.png);
        background-size: 110%;
        background-position: left;
        background-repeat: no-repeat;
    } */

  .image-container {
    height: 150px;
    width: 150px;
    background-image: url(../imgs/mascot/pixelmonkey.png);
    background-size: 110%;
    background-position: left;
    background-repeat: no-repeat;
    background-color: #fefee3;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
  }

.register-text{
      
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: "Roboto";
    margin-bottom: 20px;
        margin-top: 30px;

  
}

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

.register-label-text{
       font-size: 18px;
    color: black;
    text-align: left;
    font-family: "Roboto";

}


  label {
    font-size: 12px;
    color: black;
    text-align: left;
    font-family: "Neue";
  }

  input {
    width: 250px;
    height: 25px;
    margin-bottom: 10px;
    border: 0.5px solid black;
    border-radius: 5px;
  }

  .register-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
  }

  .register-button{
    margin-bottom: 10px;
  }
 

  button {
    height: 35px;
    font-size: 20px;
    width: 150px;
    border-radius: 10px;
    font-family: "Roboto";

  }

    .register-login {
    font-size: 20px;
    color: rgb(69, 179, 179);
    margin-bottom: 30px;
  }

  .register-login:active {
    text-decoration: underline;
    text-decoration-color: rgb(33, 200, 255);
  }

   .register-error {
    color: red;
    font-size: 14px;
    text-align: center;
    font-family: "Roboto";
  }

  

}

/*    Desktop */
@media (min-width: 845px) {
  body {
    margin: 0;
    font-family: "Neue", sans-serif;
    background-color: #a4be74;
  }

  .containerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 70vw;
    background-color: #fefee3;
    border-radius: 20px;
    border: solid 1px black;
  }

  .logoName {
    font-size: 30px;
    color: #fefee3;
    text-align: center;
    margin-bottom: 30px;
    display: none;
  }

  /* 
    .img-container {
        height: 150px;
        width: 150px;
        background-image: url(../imgs/mascot/pixelmonkey.png);
        background-size: 110%;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    } */

  h3 {
    font-size: 75px;
    color: black;
    text-align: center;
    margin-top: 30px;
    font-family: "Passion One";
    font-weight: 100;
  }



    form {
   
  display: flex;
        flex-direction: column;
  
        margin-top: 10px;
  }



  input[type="email"],
  input[type="password"] {
    width: 25vw;
    /* height: 05px; */
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 10px;
  }

  input[type="checkbox"] {
    margin-bottom: 20px;
  }

  .register-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .register-btn-container button {
    width: 190px;
    margin-bottom: 10px;
    background-color: #f1f0a0;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
  }

  .register-btn-container button:hover {
    background-color: #9b9a45;
  }

  .register-error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    font-family: "Roboto";
  }

  .register-container {
    display: flex;
    justify-content: center;
  }

  .register-label-text {
    font-size: 14px;
    color: black;
    text-align: left;
  }

  .register-input {
    margin-top: 10px;
  }

  button {
    height: 40px;
    font-size: 15px;
  }

  .register-login {
    font-size: 20px;
    color: rgb(69, 179, 179);
  }

  .register-login:active {
    text-decoration: underline;
    text-decoration-color: rgb(33, 200, 255);
  }

  
.register-login:hover {
  text-decoration: underline;
  color: rgb(255, 14, 231);
}


}
