@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

@media (min-width: 390px) {

/* @media (max-width: 599px) { */
  .about-text-links {
    font-family: "Roboto";
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }

  .about-text-links:hover {
    text-decoration: underline;
    text-decoration-color: black;
  }

  .about-text-links:active {
    text-decoration: underline;
    text-decoration-color: black;
  }

  .about-text-links:visited {
    color: inherit;
  }
  .different-offers-text {
    margin-bottom: 20px;
  }

  .about-paw-image {
    width: 30px;
    margin-left: 10px;
  }

  .about-abc-image {
    width: 30px;
    margin-left: 20px;
  }
  .about-color-image {
    width: 28px;
    margin-left: 32px;
  }

  .about-category-containers {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 8px;
  }

  .ending-text {
    margin-bottom: 10px;
  }

  .intro-text {
    margin-bottom: 10px;
  }

  .animals-letters-colors-text {
    display: flex;

    font-weight: 600;
    font-family: "Roboto";
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
    /* padding-bottom: 210px; */
  }

  .about-text-container {
    width: 80vw;
    border: black 1px solid;
    font-family: "Roboto";
    background-color: #fefee3;
    border-radius: 20px;
    padding: 20px;
    min-height: 460px;
    overflow: auto;
  }

  .about-title {
    font-size: 45px;
    font-weight: bold;
    color: #c5d7d7;
    font-family: "Fredoka";
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .about-information-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Tablet Breakpoint */
@media (min-width: 500px) and (max-width: 1023px) {
  /* @media (min-width: 400px) { */

  .about-text-links {
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }

  .about-text-links:hover {
    text-decoration: underline;
    text-decoration-color: black;
  }

  .about-text-links:active {
    text-decoration: underline;
    text-decoration-color: black;
  }

  .about-text-links:visited {
    color: inherit;
  }
  .different-offers-text {
    margin-bottom: 20px;
    width: 67vw;
  }

  .about-paw-image {
    width: 30px;
    margin-left: 10px;
  }

  .about-abc-image {
    width: 30px;
    margin-left: 20px;
  }
  .about-color-image {
    width: 28px;
    margin-left: 32px;
  }

  .about-category-containers {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 8px;
  }

  .ending-text {
    margin-bottom: 10px;
    width: 67vw;
  }

  .intro-text {
    margin-bottom: 10px;
    width: 67vw;
  }

  .animals-letters-colors-text {
    display: flex;
    font-weight: 800;
    font-family: "Roboto";
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: -20px; */
    padding-bottom:50px;
        margin-top: 10px;


  }

  .about-text-container {
    width: 80vw;
    border: black 1px solid;
    font-family: "Roboto";
    background-color: #fefee3;
    border-radius: 20px;
    padding: 20px;
    min-height: 460px;
    overflow: auto;
    font-size: 20px;
  }

  .about-title {
    font-size: 80px;
    font-weight: bold;
    color: #c5d7d7;
    font-family: "Fredoka";
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .about-information-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Desktop Breakpoint */
@media (min-width: 1024px) {
  /* @media (min-width: 845px) { */

    .about-monkey-image {
    margin-left: 20px;
  }

  .about-text-links {
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }

  .about-text-links:hover {
    text-decoration: underline;
    text-decoration-color: black;
  }

  .about-text-links:active {
    text-decoration: underline;
    text-decoration-color: black;
  }

  .about-text-links:visited {
    color: inherit;
  }
  .different-offers-text {
    margin-bottom: 20px;
    width: 61vw;
  }

  .about-paw-image {
    width: 30px;
    margin-left: 10px;
  }

  .about-abc-image {
    width: 30px;
    margin-left: 20px;
  }
  .about-color-image {
    width: 28px;
    margin-left: 32px;
  }

  .about-category-containers {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 8px;
  }

  .ending-text {
    margin-bottom: 30px;
    width: 61vw;
  }

  .intro-text {
    margin-bottom: 10px;
    width: 61vw;
  }

  .animals-letters-colors-text {
    display: flex;
    font-weight: 800;
    font-family: "Roboto";
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: -20px; */
    /* padding-bottom: 210px; */
    padding-bottom: 50px;
    margin-top: 10px;
  }

  .about-text-container {
    width: 80vw;
    border: black 1px solid;
    font-family: "Roboto";
    background-color: #fefee3;
    border-radius: 20px;
    padding: 20px;
    min-height: 460px;
    overflow: auto;
    font-size: 1.4rem;
  }

  .about-title {
    font-size: 80px;
    font-weight: bold;
    color: #c5d7d7;
    font-family: "Fredoka";
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .about-information-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
