
/* mobile */

.different-offers-text{
    margin-bottom: 20px;
}

.about-category-containers{
    margin-bottom: 20px;

}

.ending-text{
    margin-bottom: 10px;

}

.intro-text{
    margin-bottom: 10px;
    
}

.animals-letters-colors-text{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-text-container{
    width: 80vw;
    border: black 1px solid;
    font-family: "Roboto";
    background-color: #fefee3;
    border-radius: 20px;
    padding: 20px;
    height: 460px;
}

.about-title{
    font-size: 45px;
    font-weight: bold;
    color: #c5d7d7;
    font-family: "Fredoka";
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
}

.about-information-text{
}






/* Tablet Breakpoint */
@media (min-width: 400px) {

.different-offers-text{
    margin-bottom: 20px;
       font-size: 25px;
    font-family: "Fredoka";
}

.about-category-containers{

}

.ending-text{
       font-size: 25px;
    font-family: "Fredoka";

}

.intro-text{
       font-size: 25px;
    font-family: "Fredoka";
    
}

.animals-letters-colors-text{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
        font-family: "Fredoka";

    
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-text-container{
    width: 80vw;
    border: black 1px solid;
    font-family: "Roboto";
    background-color: #fefee3;
    border-radius: 20px;
    padding: 40px;
    height: 70vh;
}

.about-title{
    font-size: 80px;
    font-weight: bold;
    color: #c5d7d7;
    font-family: "Fredoka";
        text-align: center;
    
}

.about-information-text{
}


}

/* Desktop Breakpoint */
@media (min-width: 845px) {


.different-offers-text{
       font-size: 25px;
    font-family: "Fredoka";
}

.about-category-containers{

}

.ending-text{
       font-size: 25px;
    font-family: "Fredoka";

}

.intro-text{
       font-size: 25px;
    font-family: "Fredoka";
    
}

.animals-letters-colors-text{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
        font-family: "Fredoka";

    
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-text-container{
    width: 80vw;
    border: black 1px solid;
    font-family: "Roboto";
    background-color: #fefee3;
    border-radius: 20px;
    padding: 40px;
    height: 70vh;
}

 .about-title {
        font-size: 80px;
        font-weight: bold;
        color: #c5d7d7;
        font-family: "Fredoka";
        text-align: center;
        margin-top: 0; /* Ta bort margin-top */
        margin-bottom: 0; /* Ta bort margin-bottom */
        padding: 0; /* Ta bort padding */
    }

.about-information-text{
}





}



