@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

/* Mobile First Styles */
.containerboxhome {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 82vh;
  background-color: #a4be74;
  padding-bottom: 260px;
}
.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefee3;
  border-radius: 20px;
  border: 1px solid black;
  margin: 30px;
  margin-top: -17px;
  width: 314px;
}
.text-container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 40px 0px 40px;
  font-family: Fredoka;
  font-size: 15px;
  font-weight: bolder;
}
.title-home {
  align-items: flex-end;
  font-weight: bold;
  color: #fefee3;
  line-height: 40px;
  font-family: "Neue";
}
.tagline-home {
  font-weight: lighter;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 30px;
}
.img-homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 200px;
  background-image: url(../imgs/mascot/pixelmonkey.png);
  background-size: 110%;
  background-position: left;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.button-containerhome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.button-containerhome button {
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-family: "fredoka";
  font-size: 20px;
  color: black;
  background-color: #f1f0a0;
  border: 1px solid black;
  font-weight: bold;
}
.button-containerhome button:last-child {
  /* margin-top: 15px; */
}
.signIn-btn {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "fredoka";
}

.landingpage-profileName {
  font-size: 20px;
  font-weight: bold;
  font-family: "fredoka";
  margin-top: 1vh;
}

/* Tablet Breakpoint */
@media (min-width: 400px) {
  .container-home {
    width: 80vw;
    margin: 0 auto;
  }
  .img-homepage {
    width: 330px;
    height: 250px;
  }
  .button-containerhome button {
    width: 300px;
    height: 80px;
    font-size: 30px;
  }
  .title-home {
    font-size: 45px;
  }
  .tagline-home {
    font-size: 50px;
  }
  .containerboxhome {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a4be74;
    padding-bottom: 30px;
  }
}

/* Desktop Breakpoint */
@media (min-width: 845px) {
  .container-home {
    width: 80vw;
    margin: 0 auto;
  }
  .img-homepage {
    width: 380px;
    height: 300px;
  }
  .button-containerhome button {
    width: 300px;
    height: 80px;
    font-size: 30px;
  }
  .title-home {
    font-size: 45px;
  }
  .tagline-home {
    font-size: 60px;
  }
  .containerboxhome {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a4be74;
    padding-bottom: 30px;
    min-height: 0vh;
  }

  .signIn-btn {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: "fredoka";
  }

  .button-containerhome button:last-child {
    margin-top: 0px;
  }

  .button-containerhome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }

  .button-containerhome button:hover {
    background-color: #9b9a45;
  }
}
