@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@media (min-width: 390px) and (max-width: 844px) {
  .login-text {
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: "Roboto";
    margin-bottom: 20px;
        margin-top: 30px;
    
  }

  .login-button{
    margin-bottom: 10px;
  }

  .rememberme-text{
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 3px;
  }

 .login-container{
  display: flex;
  justify-content: center;
 }

  .log-in-error {
    color: red;
    font-size: 14px;
    text-align: center;
    font-family: "Roboto";
  }
  .register-checkbox-container {
    display: flex;
    gap: 10px;
  }

  .forminput {
    font-family: "Roboto";
    font-size: 20px;
  }

  .form-wrapper{
    display: flex;
  }

  .checkbox-input{
    width: 20px;
  }


}

/*    Desktop */
@media (min-width: 845px) {
  .login-container {
    display: flex;
    justify-content: center;
  }

  .register-checkbox-container {
    display: flex;
    gap: 10px;
  }

  .log-in-error {
    color: red;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
  }
}
