@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/*    Desktop */
@media (min-width: 845px) {
/* html,
body {
         height: 130%;
        min-height: 100vh;
} */
  .practice-container {
    display: flex;
    justify-content: center;
    margin-top: -23px;

  }

  .practice-colors-text-container {
    display: flex;
    background-color: #fefee3;
    width: 80vw;
    height: 10vh;
    border-radius: 15px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
  }


  .search-container{
    display: none;
    justify-content: center;
    margin-top:15px
  
  }

  .search-bar-container{
        background-color: #fefee3;
        width: 80vw;
    height: 5vh;
    border-radius: 15px;
    border: 1px solid black;
    display: none;

  }

  .practice-text {
    font-family: "Fredoka";
    font-weight: 600;
    font-size: 50px;
    margin-right: 10px;
  }

  .colors-text-container {
    display: flex;
  }

  .c-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 50px;
    color: #ff0000;
  }
  .o-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 50px;
    color: #fdce00;
  }
  .o2-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 50px;
    color: #ff00cc;
  }

  .l-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 50px;
    color: #1eff00;
  }
  .r-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 50px;
    color: #ff9100;
  }
  .s-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 50px;
    color: #8800ff;
  }
}



@media (max-width: 391px) {

/* html,
body {
         height: 130%;
        min-height: 100vh;
} */
  .practice-container {
    display: flex;
    justify-content: center;
    margin-top: -23px;

  }

  .practice-colors-text-container {
    display: flex;
    background-color: #fefee3;
    width: 80vw;
    height: 5vh;
    border-radius: 15px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
  }


  .search-container{
    display: flex;
    justify-content: center;
    margin-top:15px
  }

  .search-bar-container{
        background-color: #fefee3;
        width: 80vw;
    height: 5vh;
    border-radius: 15px;
    border: 1px solid black;

  }

  .practice-text {
    font-family: "Fredoka";
    font-weight: 500;
    font-size: 28px;
    margin-right: 10px;
  }

  .colors-text-container {
    display: flex;
  }

  .c-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 28px;
    color: #ff0000;
  }
  .o-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 28px;
    color: #fdce00;
  }
  .o2-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 28px;
    color: #ff00cc;
  }

  .l-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 28px;
    color: #1eff00;
  }
  .r-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 28px;
    color: #ff9100;
  }
  .s-text {
    font-family: "Fredoka";
    font-weight: 800;
    font-size: 28px;
    color: #8800ff;
  }
}
