@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/* Mobile First Styles */
.practice-container {
  display: flex;
  justify-content: center;
  margin-top: -23px;
}

.practice-colors-text-container {
  display: flex;
  background-color: #fefee3;
  width: 80vw;
  height: 8vh; 
  border-radius: 15px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.search-container-mobile {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  display: flex;
}

.search-bar-container {
  background-color: #fefee3;
  /* width: 80vw; */
  height: 5vh;
  border-radius: 15px;
 
}

.search-bar-container-mobile {
  background-color: #fefee3;
  width: 80vw;
  height: 6vh;
  border-radius: 15px;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.practice-text {
  font-family: "Fredoka";
  font-weight: 600;
  font-size: 6vw; 
  margin-right: 10px;
  text-decoration: underline;
}

.colors-text-container {
  display: flex;
}



/* Tablet Breakpoint */
@media (min-width: 600px) {
  .practice-colors-text-container {
    height: 9vh; 
  }

  .practice-text {
    font-size: 4vw; 
  }

  
}

/* Desktop Breakpoint */
@media (min-width: 845px) {
  .practice-colors-text-container {
    width: 80vw;
    height: 10vh;
  }

  .practice-text {
    font-size: 3vw; 
    margin-left: -42px;
  }



  .search-bar-container-mobile {
    background-color: #fefee3;
    /* width: 80vw; */
    height: 5vh;
    border-radius: 15px;
    display: none;
  }
}

/* Mobile Breakpoint */
@media (max-width: 599px) {
  .search-container {
    display: none; 
  }

  .search-bar-container {
    display: none; 
  }
}

/* Mobile Breakpoint */
@media (min-width: 390px) and (max-width: 844px){
  .search-container {
    display: none; 
  }

  .search-bar-container {
    display: none; 
  }
}

