@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/* Mobile First Styles */
.abc-image {
  width: 30px; 
}

.practice-letters-component-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  flex-wrap: wrap;
  gap: 22px;
    padding-bottom: 210px;
}

.practice-letters-tecken-image {
  width: 20vw;
}

.practice-letters-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw; /* Responsive width */
  height: 20vh; /* Responsive height */
  background-color: #fefee3;
  border-radius: 15px;
  border: solid 1px black;
}

.grey-line-practice-letters {
  background-color: rgba(117, 117, 117, 0.116);
  height: 15vh;
  width: 1vw; 
  border-radius: 10px;
}

.practice-letter-correct-answer {
  font-family: "Fredoka";
  font-size: 5vw; 
  font-weight: 600;
}

/* Tablet Screens */
@media (min-width: 400px) {
  .practice-letters-tecken-image {
    width: 15vw;
  }

  .practice-letters-card {
    width: 80vw;
    height: 30vh;
  }

  .grey-line-practice-letters {
    height: 25vh;
    width: 2vw;
  }

  .practice-letter-correct-answer {
    font-size: 8vw;
  }

    .practice-letters-component-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  flex-wrap: wrap;
  gap: 22px;
  padding-bottom: 40px;
}

}

/* Desktop Screens */
@media (min-width: 845px) {
  .practice-letters-text {
    font-size: 3vw;
    margin-left: -30px;
  }

  .abc-image {
    width: 50px;
  }

  .practice-letters-tecken-image {
    width: 10vw;
  }

  .practice-letters-card {
    width: 39vw;
    height: 39vh;
  }

  .grey-line-practice-letters {
    height: 30vh;
    width: 8px;
    margin-right: 52px;
  }

  .practice-letter-correct-answer {
    font-size: 100px;
  }

  .practice-letters-component-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  flex-wrap: wrap;
  gap: 22px;
  padding-bottom: 40px;
}

}
