.quizPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #fefee3;
  border: 1px solid black;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
  height: 250px;
}

.answer-buttons {
  display: flex;
  gap: 5px;
}

.default-quiz-btn {
  width: 100px;
}

.correct-quiz-btn {
  width: 100px;
  border-color: green;
}

.incorrect-quiz-btn {
  width: 100px;
  border-color: red;
}

@media (min-width: 390px) and (max-width: 844px) {
}
