.quizPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
  border-radius: 20px;
  background-color: #fefee3;
  border: 1px solid black;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 15px;
}

.answer-buttons {
  display: flex;
  gap: 5px;
}

.default-quiz-btn {
  width: 100px;
  height: auto;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Roboto";
  background-color: #f1f0a0;
}

.correct-quiz-btn {
  width: 100px;
  height: auto;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Roboto";
  color: white;
  background-color: green;
}

.incorrect-quiz-btn {
  width: 100px;
  height: auto;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Roboto";
  color: white;
  background-color: red;
}

.submit-btn {
  width: 200px;
  height: auto;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Roboto";
  background-color: #f1f0a0;
}

.question-img {
  width: auto;
  height: 150px;
}

.answer-image {
  width: 60px;
  height: auto;
}


@media (min-width: 390px) and (max-width: 844px) {


  .quiz-wrapper {
    width: 70%; /* Ändra bredden till 90% av skärmens bredd */
    padding: 10px;
    border-radius: 15px; /* Minska rundningen för mobil */
   
  }
.quizPage-container{
   padding-bottom: 300px;
}
  .question-img {
    width: 70%;
    height: auto; /* Se till att bilden skalar med bredden */
  }

  .answer-buttons {
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 10px; 
    }

  .default-quiz-btn, .correct-quiz-btn, .incorrect-quiz-btn {
    width: 100%; /* Gör knapparna fullbredd på mobil */
    font-size: 18px; /* Minska fontstorleken något */
  }

  .submit-btn {
    width: 100%;
    font-size: 18px; 
  }

  .question-title {
    font-size: 18px; 
  }
   .question-number{
    font-size: 15px;
   }
}
