.quizPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
  border-radius: 20px;
  background-color: #fefee3;
  border: 1px solid black;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 15px;
}

.answer-buttons {
  display: flex;
  gap: 5px;
}

.default-quiz-btn {
  width: 100px;
  height: auto;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Roboto";
  background-color: #f1f0a0;
}

.correct-quiz-btn {
  width: 100px;
  height: auto;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Roboto";
  color: white;
  background-color: green;
}

.incorrect-quiz-btn {
  width: 100px;
  height: auto;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Roboto";
  color: white;
  background-color: red;
}

.submit-btn {
  width: 200px;
  height: auto;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Roboto";
  background-color: #f1f0a0;
}

.question-img {
  width: auto;
  height: 150px;
}

.answer-image {
  width: 60px;
  height: auto;
}

@media (min-width: 390px) and (max-width: 844px) {
}
