.spinner-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 100px;
  height: 100px;
  transform: translateY(-150px);
}

/* Media query for mobile */
@media (max-width: 768px) {
  .spinner-container {
    transform: translateY(-50px); /* Adjust this as needed for mobile view */
  }
}

.spinner-banana-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%; /* Adjusted to percentage for scaling */
  height: 20%; /* Adjusted to percentage for scaling */
  transform-origin: 0 0;
  transform: translate(-50%, -50%) rotate(0deg);
}

.banana-1 {
  transform: translate(-50%, -50%) rotate(0deg) translate(50px) rotate(0deg);
  animation: spinBanana1 2s linear infinite;
}

.banana-2 {
  transform: translate(-50%, -50%) rotate(36deg) translate(50px) rotate(-36deg);
  animation: spinBanana2 2s linear infinite;
}

.banana-3 {
  transform: translate(-50%, -50%) rotate(72deg) translate(50px) rotate(-72deg);
  animation: spinBanana3 2s linear infinite;
}

.banana-4 {
  transform: translate(-50%, -50%) rotate(108deg) translate(50px)
    rotate(-108deg);
  animation: spinBanana4 2s linear infinite;
}

.banana-5 {
  transform: translate(-50%, -50%) rotate(144deg) translate(50px)
    rotate(-144deg);
  animation: spinBanana5 2s linear infinite;
}

.banana-6 {
  transform: translate(-50%, -50%) rotate(180deg) translate(50px)
    rotate(-180deg);
  animation: spinBanana6 2s linear infinite;
}

.banana-7 {
  transform: translate(-50%, -50%) rotate(216deg) translate(50px)
    rotate(-216deg);
  animation: spinBanana7 2s linear infinite;
}

.banana-8 {
  transform: translate(-50%, -50%) rotate(252deg) translate(50px)
    rotate(-252deg);
  animation: spinBanana8 2s linear infinite;
}

.banana-9 {
  transform: translate(-50%, -50%) rotate(288deg) translate(50px)
    rotate(-288deg);
  animation: spinBanana9 2s linear infinite;
}

.banana-10 {
  transform: translate(-50%, -50%) rotate(324deg) translate(50px)
    rotate(-324deg);
  animation: spinBanana10 2s linear infinite;
}

.spinner-monkey-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%; /* Adjusted to percentage for scaling */
  height: 60%; /* Adjusted to percentage for scaling */
  transform: translate(-50%, -50%); /* Center the monkey image */
  animation: bounce 0.8s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, -60%);
  }
  50% {
    transform: translate(-50%, -80%);
  }
}

@keyframes spinBanana1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translate(50px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translate(50px)
      rotate(-360deg);
  }
}

@keyframes spinBanana2 {
  0% {
    transform: translate(-50%, -50%) rotate(36deg) translate(50px)
      rotate(-36deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(396deg) translate(50px)
      rotate(-396deg);
  }
}

@keyframes spinBanana3 {
  0% {
    transform: translate(-50%, -50%) rotate(72deg) translate(50px)
      rotate(-72deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(432deg) translate(50px)
      rotate(-432deg);
  }
}

@keyframes spinBanana4 {
  0% {
    transform: translate(-50%, -50%) rotate(108deg) translate(50px)
      rotate(-108deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(468deg) translate(50px)
      rotate(-468deg);
  }
}

@keyframes spinBanana5 {
  0% {
    transform: translate(-50%, -50%) rotate(144deg) translate(50px)
      rotate(-144deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(504deg) translate(50px)
      rotate(-504deg);
  }
}

@keyframes spinBanana6 {
  0% {
    transform: translate(-50%, -50%) rotate(180deg) translate(50px)
      rotate(-180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(540deg) translate(50px)
      rotate(-540deg);
  }
}

@keyframes spinBanana7 {
  0% {
    transform: translate(-50%, -50%) rotate(216deg) translate(50px)
      rotate(-216deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(576deg) translate(50px)
      rotate(-576deg);
  }
}

@keyframes spinBanana8 {
  0% {
    transform: translate(-50%, -50%) rotate(252deg) translate(50px)
      rotate(-252deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(612deg) translate(50px)
      rotate(-612deg);
  }
}

@keyframes spinBanana9 {
  0% {
    transform: translate(-50%, -50%) rotate(288deg) translate(50px)
      rotate(-288deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(648deg) translate(50px)
      rotate(-648deg);
  }
}

@keyframes spinBanana10 {
  0% {
    transform: translate(-50%, -50%) rotate(324deg) translate(50px)
      rotate(-324deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(684deg) translate(50px)
      rotate(-684deg);
  }
}
